# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
env/
venv/
.venv/

# Packaging
build/
dist/
*.egg-info/

# Jupyter Notebooks and Scripts
.ipynb_checkpoints/
scripts/*

# VSCode or IDEs
.vscode/
.idea/

#old_apis
old_src_*

# Testing / coverage
htmlcov/
.tox/
.coverage
.cache/

tests/test_gaussian_noise.py
tests/test_data/references/gaussian_noise_m_10.npz
tests/test_data/references/gaussian_noise_m_20.npz
tests/test_data/references/gaussian_noise_m_200.npz
tests/test_data/references/gaussian_noise_m_15.npz
